<section class="pt-4 pb-6">
  <h1 class="mb-2 text-3xl font-semibold text-gray-600">Articles</h1>
  <hr />

  <% @articles.each do |article| %>
    <article class="flex flex-col gap-4 p-4 my-4 rounded-md shadow-md">
      <header>
        <h2 class="text-xl font-semibold text-gray-600"><%= article.title %></h2>
        <p class="text-base text-gray-500"><%= article.body %></p>
      </header>
      <footer class="flex gap-2">
        <%= link_to "Show more...", article_path(article.id), class:"text-gray-400 semibold hover:underline" %>
        <%= link_to "Edit", edit_article_path(article.id), class:"text-gray-400 semibold hover:underline" %>
      </footer>
    </article>
  <% end %>
</section>